@font-face {
    font-family: 'Schnyder';
    font-weight: 100;
    src: url('../fonts/SchnyderL-Light.woff') format('woff');
    src: url('../fonts/SchnyderL-Light.woff2') format('woff2');
}
@font-face {
    font-family: 'Neue Haas Grotesk';
    font-weight: 500;
    src: url('../fonts/NeueHaasDisplay-Roman.woff');
}


$screen_sm: 32rem;
$screen_md: 54rem;
$screen_lg: 65rem;
$screen_xl: 91rem;
$sans-serif: 'Neue Haas Grotesk', sans-serif;
$serif: 'Schnyder', serif;
$grid-space: 2em;

/**
*
* THEMES
*
*/

