.App {
  padding: 0 $grid-space 0 $grid-space;
  display: none;

  &.loaded {
    display: block;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

main {
  padding: 12em 0 10em 0;
  overflow: hidden;
  width: 100%;
  
  .wrapper {
    
  }
}

.about {
  
  margin: 3em 0 3em 0;
  h1 {
    color: var(--accent-color);
    mix-blend-mode: difference;
    font-family: $serif;
    font-weight: 100;
    font-size: 3vw;
    // line-height: 0.8;
    text-transform: uppercase;

    @media screen and (max-width: $screen_sm) {
      font-size: 1.7rem;
    }

    // span {
    //   font-family: $sans-serif;
    //   font-size: 2rem;
    //   font-style: italic;
    //   color: blue;
    //   position: relative;
    //   top: -10px;
    // }
  }
}

.main_image {
  width: 500px;

  @media screen and (max-width: $screen_sm) {
    width: 50%;
  }
}

